html {
  background: #f8f9fa;
}

.navbar-dark {
  background-color: black !important;
}

.navbar-light {
  background-color: white !important;
}

.placeholder-dark::placeholder {
  color: white;
}

.placeholder-light::placeholder {
  color: black;
}

.form-control {
  resize: none;
  overflow-x: hidden;
}

.accordion ::after {
  filter: invert(100%);
}

#preview {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
.hide {
  visibility: hidden;
}
.remove {
  display: none;
}
.add {
  display: block;
}

#preview::first-letter {
  font-weight: bold;
  font-size: xx-large;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2378f7;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0167ff;
}